@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.125rem;
}

.link {
  @include flex-center;
  width: 40px;
  height: 40px;
  border-radius: $radius-md;
  font-size: 1.625rem;
  color: $color-white;
  transition:
    transform $transition-fast,
    filter $transition-fast;

  &:hover {
    transform: translateY(-2px);
    filter: brightness(1.1);
  }
}

.icon {
  display: block;
}

.facebook {
  color: white; 

  &:hover{
    color: $color-mint;
  }
}

.instagram {
 color: white; 

  &:hover{
    color: $color-mint;
  }
}



.youtube {
  color: white; 

  &:hover{
    color: $color-mint;
  }
}

.email {

  color: white; 

  &:hover{
    color: $color-mint;
  }
}
